.width-inherit{width:inherit}.height-inherit{height: inherit;}


/* FONT SIZE */
.font-size8px{font-size: 8px;}.font-size10px{font-size: 10px;}.font-size12px{font-size: 12px;}.font-size14px{font-size: 14px;}.font-size16px{font-size: 16px;}.font-size18px{font-size: 18px;}
.font-size10px{font-size: 20px;}.font-size12px{font-size: 22px;}.font-size14px{font-size: 24px;}.font-size16px{font-size: 26px;}.font-size18px{font-size: 28px;}
.font-size10px{font-size: 30px;}.font-size12px{font-size: 32px;}.font-size14px{font-size: 34px;}.font-size16px{font-size: 36px;}.font-size18px{font-size: 38px;}
.font-size10px{font-size: 40px;}.font-size12px{font-size: 42px;}.font-size14px{font-size: 44px;}.font-size16px{font-size: 46px;}.font-size18px{font-size: 48px;}